ipywidgets==8.1.2
matplotlib==3.7.1
scipy==1.11.4
scikit-learn==1.2.2
scikit-image==0.19.3
tifffile==2024.2.12
tqdm==4.66.2
hdbscan==0.8.33
imageio==2.31.5
numpy==1.25.2
pandas==1.5.3
plotly==5.15.0
seaborn==0.13.1
umap-learn==0.5.5
jupyter_core==5.7.2
lxml==5.1.0
